<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<table id="recipes" class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Ingredients</th>
      <th>Instruction</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let currentRecipe of recipes">
      <td>{{currentRecipe.title}}</td>
      <td>{{currentRecipe.ingredients}}</td>
      <td>{{currentRecipe.instructions}}</td>
      <td><button (click)="editRecipe(currentRecipe)">Edit!</button></td>
    <tr>
  </tbody>
</table>

<div *ngIf="selectedRecipe">
  <h3>Edit Recipe</h3>
 <label>Enter Recipe Title:</label>
 <input [(ngModel)]="selectedRecipe.title"><br>
 <label>Enter Ingredients:</label>
 <input [(ngModel)]="selectedRecipe.ingredients"><br>
 <label>Enter Instructions:</label>
 <input [(ngModel)]="selectedRecipe.instructions">
 <button (click)="hideRecipe()">Save Edit</button>



</div>
